#gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.grid-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd; /* Aggiungi uno stile del bordo se lo desideri */
    box-sizing: border-box; /* Assicura che il padding non aumenti le dimensioni dell'elemento */
    height: fit-content;
}

#gallery img {
    max-width: 100%;
    height: auto;
    max-height: 100%; /* Impedisce alle immagini di superare l'altezza della cella */
    display: block; /* Impedisce eventuali spazi bianchi sotto le immagini */
    margin: 0 auto; /* Centra l'immagine all'interno della cella */
}