body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    overflow: hidden;
}

.fixed-column {
    flex: 0 0 200px;
    background-color: white;

    /* Aggiungi questi stili per centrare il testo verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

.column img {
    max-width: 100%; /* Imposta la larghezza massima al 100% della larghezza del contenitore */
    height: auto; /* Imposta l'altezza automaticamente rispetto alla larghezza */
}
