body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}


#gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery div {
    flex: 0 0 calc(12.5% - 10px); /* Ogni colonna occupa il 12.5% della larghezza - margine */
    margin: 5px;
    box-sizing: border-box;
}

#gallery img {
    width: 100%;
    height: auto;
    display: block;
}

#gallery p {
    text-align: center;
    margin: 5px 0;
}
